#bodyContacUs {
  width: 100%;
}

#bodyContacUs img {
  width: 99%;
  height: 400px;
  margin-left: 10px;
}

.contentContactUs {
  display: flex;
  margin: 30px 20px 0px 20px;
}

.contactusFrom {
  width: 100%;
}

.contactUsDataPicture {
  width: 50%;
}

.contactUsDataPicture img {
  border-radius: 30px;
}

.contactusFrom {
  background-color: #fff;
  padding: 35px;
  border: 3px solid #ddc8c9;
  color: #d9838c;
  border-radius: 4px;
}

.onbt {
  width: 100px;
}

[type="reset"] {
  background-color: #cca352;
  color: #eee;
  padding: 10px 20px;
  width: 80px;
  border: none;
  border-radius: 8px;
  margin-top: 3px;
}

input,
select,
textarea {
  width: 100%;
  color: #ccacaf;
  font-weight: 600;
  outline: none;
  border: 1px solid #d9838c;
  padding: 5px;
  resize: none;
}
