:root {
  --pink900: #b3535d;
  --pink800: #c66b74;
  --pink700: #d9838c;
  --pink600: #ec9ba3;
  --pink500: #ffb3ba;

  --soft900: #ba9194;
  --soft800: #ccacaf;
  --soft700: #ddc8c9;
  --soft600: #eee3e4;
  --white: #ffffff;
  --golden: #cca352;
}

/* make footer flexibel and use all the space he has */

#footer {
  display: flex;
  margin: 0px 55px 0px 55px;
  justify-content: space-between;
  color: var(--golden);
}

/* style the item class */
#footer .item {
  margin-bottom: 20px;
  padding: 1px;
  display: inline-block;
  width: 25%;
  height: 45px;
}

hr {
  margin: 0px 30px 0px 30px;
  margin-top: 5rem; /* Need to be fixed */
  border: 1px solid var(--golden);
}

#footer p {
  align-items: center;
  color: var(--golden);
}

#footer .footer-copyright-text {
  width: 600px;
}
