#body-division {
  display: flex;
}

#bodyHome img {
  width: 100%;
  height: 40%;
  margin-top: 1px;
}

#header {
  margin-left: 76%;
}

.material-symbols-outlined {
  color: #cca352;
  padding: 13px;
  font-weight: bold;
}

#header input {
  border: 2px solid #cca352;
  padding: 3px;
  color: #cca352;
}

#header input:focus {
  outline: none;
}

#header input:hover {
    background-color: #eee3e4;
  }

a:hover {
  cursor: pointer;
}
