#body-division {
  display: flex;
  font-family: cursive;
}

#bodyHome img {
  width: 100%;
  height: 40%;
}

.header a {
  margin: 0px 30px 0px 0px;
  text-decoration: none;
  color: #cca352;
}

.header {
  margin-left: 2%;
  color: #cca352;
  justify-content: space-between;
  display: flex;
}

.material-symbols-outlined {
  padding: 13px;
  font-weight: bold;
}

.links_header {
  margin-top: 1%;
}

a:hover {
  cursor: pointer;
}

#categories {
  display: flex;
}

.card_category {
  width: 60%;
  height: 30vh;
  margin: 10px;
  color: #cca352;
  text-align: center;
}

#categories .card_category img {
  height: 300px;
}

#store_mission {
  border: 3px solid #cca352;
  margin: 10px 30px 10px 30px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  color: #c66b74;
}
